.password-reset-page .auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-reset-page .auth-form {
  background: hsla(301, 38%, 77%, 0.822);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* центр всієї форми */
}

.password-reset-page .auth-form h2 {
  margin-top: 0;
  font-size: 28px;
  text-align: center;
  color: #333;
}

.password-reset-page .auth-form label {
  align-self: flex-start;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}

.password-reset-page .auth-form input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.password-reset-page .auth-form input:focus {
  border-color: #24576B;
  outline: none;
}



.password-reset-page .error,
.password-reset-page .message {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
}

.password-reset-page .error {
  color: #cc0000;
}

.password-reset-page .message {
  color: #007700;
}




.submit-btn {
  background-color: #24576B !important;
  color: white !important;
  border: none !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-left: 90px !important;
  width: 230px !important;
}

.submit-btn:hover {
  background-color: #98b0f0;
}

.message {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  color: #065f46;
}