

  .breathing-practice-page {
    background-color: lime !important;
  }
  


  /* Заголовок сторінки */
.title {
    font-size: 2rem;
    font-weight: 700;
    -webkit-margin-bottom-collapse: 0rem;
    color: #2c3e50;
  }
  
  /* Опис практики */
  .description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    line-height: 1.6;
    padding: 0 1rem;
  }
  
  /* Інструкція */
  .instructions h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0rem;
    margin-top: 0rem;
    color: #34495e;
  }
  
  .instructions p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    white-space: pre-wrap;
    padding: 0 1rem;
  }
  
  /* Загальна рамка */
  .breathing-frame {
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  /* Загальний контейнер сторінки */
  .breathing-practice-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 1rem;
    background-color: #f9f9f9;
  }
  

  .instruction-columns {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 0rem;
    flex-wrap: wrap;
  }
  
  .instruction-columns .column {
    flex: 1 1 45%;
  }
  
  .instruction-columns p {
    margin-bottom: 0rem;
    font-size: 1rem;
    color: #333;
  }
  